/* * {
  border: 1px solid;
} */

.headers {
  position: relative;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 94%;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 10vw;
  height: 3.5vw;
  background-color: white;
  border-radius: 4px;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.2vw;
}

.btn i {
  margin-right: 10px;
}

header {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 10px;
  transition: all 0.8s;
}

.yego_video {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  width: 100%;
  /* height: 713px; */
  padding-bottom: 50%;
}

.animate {
  transition: 0.5s ease-out;
  z-index: 10;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
}

.under {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 10px;
  transition: all 0.8s;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 200;
}

.under .inner {
  height: 5vw;
  display: flex;
  align-items: center;
}

header .inner {
  height: 60px;
  display: flex;
  align-items: center;
}
header .logo {
  background-image: url("../main_logo2.png");
  width: 10vw;
  height: 5vw;
  background-position: center;
  background-size: cover;
  margin-right: 1vw;
}

header .menu_bar {
  padding-top: 5px;
  padding-left: 15px;
}

header .menu_list {
  display: flex;
  font-size: 1.1vw;
}

header .menu_bar li {
  padding: 10px;
  cursor: pointer;
}

header .menu_bar li.clicked {
  color: white;
}

header .menu_icon {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: row-reverse;
  padding: 5px;
  position: relative;
}

header .menu_icon i {
  margin-right: 1.7vw;
  font-size: 19px;
}

header .playprofile {
  transform: rotate(180deg);
  font-size: 17px;
  transition: all 1s;
}

header .user_face {
  background-image: url("../1.jpeg");
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
}

.control_video {
  position: absolute;
  top: 17vw;
  left: 3vw;
}

.control_video .control_container {
  margin-bottom: 10px;
}

.control_video img {
  width: 37vw;
  height: 15vw;
  margin-bottom: 10px;
}

.control_video p {
  width: 37vw;
  font-size: 1.4vw;
  margin-bottom: 10px;
}

.control_btn1 {
  display: flex;
}

.play_btn_header {
  color: black;
  margin-right: 15px;
}

.info_btn_header {
  background-color: rgba(77, 76, 76, 0.7);
}

.headers .control_btn2 {
  padding: 0;
  margin: 0;
  font-size: 1.5vw;
  position: absolute;
  top: 37vw;
  right: 0;
  display: flex;
  align-items: center;
}

.headers .control_btn2 .volumeUp {
  font-size: 1.5vw;
  margin-right: 1.5vw;
  border: 3px solid white;
  border-radius: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.headers .control_btn2 .volumeMute {
  display: none;
  font-size: 1.5vw;
  margin-right: 1.5vw;
  border: 3px solid white;
  border-radius: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.headers .control_btn2 .redo {
  display: none;
  font-size: 1.5vw;
  margin-right: 1.5vw;
  border: 3px solid white;
  border-radius: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.headers .control_btn2 .year {
  width: 15vw;
  display: flex;
  padding-left: 10px;
  height: 3.2vw;
  align-items: center;
  border-left: 3px solid white;
  background-color: rgba(70, 70, 70, 0.7);
}

header .menu_icon > .fa-caret-up {
  transform: rotate(180deg);
  font-size: 17px;
  transition: all 1s;
}

header .menu_icon .user_face {
  position: relative;
}

header .menu_icon .user_face > i {
  font-size: 22px;
  width: 70px;
  text-align: center;
  position: absolute;
  top: 90%;
  right: -40px;
  display: none;
}

header .menu_icon .admin_profile {
  display: none;
  position: absolute;
  padding: 20px 10px 0;
  font-size: 14px;
  font-weight: 320;
  top: 135%;
  right: 0;
  width: 160px;
  background-color: rgb(19, 19, 19);
  border: 0.8px solid rgb(36, 36, 36);
  z-index: 100000000000000000000;
}

header .menu_icon .admin_profile .hover {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #f0f0f0;
}

header .menu_icon .admin_profile .icon1 {
  background-image: url(https://occ-0-1009-1361.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABSJ7W5XG6vPqZ3BYA5Vw915CFrIdEIoM75asUq1rqaGoYH0vWt5sGe9V4jSoG2BPkBXSpTvbNuStKXe1-PpHf9w7tOwN.png?r=7a4);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  margin-right: 10px;
}

header .menu_icon .admin_profile .icon2 {
  background-image: url(https://occ-0-1009-1361.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABeoiFWtkpT2ezo-zFFoj5VDcvij4ZYSLnUqgWObtKbMG85CvH7yu27n7WgP0LVu3el_Vj3hw1L-eAwDVXYm_m8iJFWo1.png?r=f08);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  margin-right: 10px;
}

header .menu_icon .admin_profile .icon3 {
  background-image: url(https://occ-0-1009-1361.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABRmtNzyg7zV6EC3TQGMQqbhKrAGB42lxYLSPWRqTJ_yxIx8W7rL-Abhyr7Goh0TCHU6f2b66nJAZ3sKpsYqw0HIr61mR.png?r=125);
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  margin-right: 10px;
}

header .menu_icon .profile_icon {
  padding-left: 8px;
}

header .menu_icon .profile_icon .go_sublogin {
  padding: 10px 0;
}

header .menu_icon .admin_profile .center {
  border-top: 0.5px solid #808080;
  padding: 20px 0px 8px 8px;
}

header .menu_icon .admin_profile ul {
  display: flex;
  flex-direction: column;
}

header .menu_icon .admin_profile ul li {
  margin-bottom: 5px;
}

header .menu_icon .admin_profile ul li a {
  text-decoration: none;
  color: #f0f0f0;
}

.user_play_data {
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  padding-bottom: 9vw;
  top: 40vw;
  left: 0px;
  padding-top: 80px;
  overflow: hidden;
}

.hotcontent {
  top: 60px;
  left: 0px;
}

.mycontent {
  top: 13vw;
}

.user_play_data p {
  font-size: 1.5vw;
  margin-bottom: 5px;
  font-weight: 500;
  padding-bottom: 5px;
}

.user_play_data img {
  width: 17.5vw;
  border-radius: 5px;
  margin-right: 5px;
  display: block;
  /* position: relative; */
}

.user_play_data i {
  font-size: 3vw;
}

.user_play_data .before {
  align-items: center;
  justify-content: center;
  display: none;
  width: 3.3vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.user_play_data .next {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 3.3vw;
  top: 0;
  right: 0;
  z-index: 20;
}

.user_play_data .before {
  transform: rotate(180deg);
}

.user_play_data .inner {
  width: 96%;
  margin: 4vw 0;
  margin-top: 0;
  position: relative;
}

.user_play_data .inner .user_container,
.kor_container,
.hot_container,
.only_container,
.replay_container,
.korjam_container,
.ani_container,
.komovie_container,
.ranking_container {
  display: flex;
  position: relative;
}

.show_ranking {
  display: flex;
}

.show_ranking .rank {
  width: 9vw;
  height: 13vw;
  transform: translate(-4vw);
}

.show_ranking .rank_poster {
  width: 11vw;
  height: 13vw;
}

.user_play_data .spinner {
  animation: loading 0.5s ease-out infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.user_play_data .hover_container .movie_detail {
  display: none;
  background-color: rgba(28, 28, 28, 0.98);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-1vw);
  position: absolute;
  top: 10.3vw;
  box-shadow: 0 0 0.1vw 0.5px rgba(0, 0, 0, 0.8);
  width: 97%;
  z-index: 2000;
  margin-right: -0.5vw;
  padding: 1vw;
  box-sizing: border-box;
}

.user_movie .movie_detail .detail_btn {
  width: 100%;
  height: 1.2vw;
  display: flex;
  align-items: center;
}

.only_movie .movie_detail .detail_btn {
  display: flex;
  align-items: center;
}

.user_play_data .only_container .movie_detail {
  background-color: #121010;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-1vw);
  position: absolute;
  top: 35vw;
  width: 98%;
  margin-right: 0.5vw;
  z-index: 100;
  padding: 1vw;
  box-sizing: border-box;
}

.user_play_data .movie_detail i {
  font-size: 1.9vw;
  transition: all 1s 1s;
  z-index: 300;
  color: #a0a0a0;
  margin-right: 0.4vw;
}

.user_play_data .movie_detail i:nth-child(3) {
  font-size: 1.7vw;
}

.user_play_data .movie_detail i:nth-child(4) {
  font-size: 1.7vw;
}

.user_play_data .movie_detail i:nth-child(5) {
  font-size: 2vw;
}

.user_play_data .movie_detail i:last-child {
  margin-left: 1.7vw;
  font-size: 2vw;
  cursor: pointer;
}

.user_play_data .movie_detail p {
  margin-top: 0.5vw;
  font-size: 0.8vw;
  padding-top: 0.5vw;
}

.user_play_data .movie_detail .detail_time {
  display: flex;
  align-items: center;
}

.user_play_data .movie_detail .time_rating {
  width: 5vw;
  height: 2px;
  background-color: gray;
  margin-right: 0.5vw;
}

.user_play_data .movie_detail .time_watch {
  color: #808080;
  font-size: 0.6vw;
}

.user_play_data .user_movie:hover {
  transform: scale(1.4) translateY(-3.5vw);
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.user_play_data .inner .only_movie:hover {
  transform: scale(1.2, 1.1);
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.footer {
  z-index: 0;
  width: 80%;
  margin-top: 10vw;
  position: absolute;
  top: 230vw;
  bottom: 0;
  right: 0;
  /* transform: rotateX(-50%); */
}

.hotFoot {
  top: 135vw;
}

.myFoot {
  top: 40vw;
}

.footer .inner {
  width: 100%;
  padding-bottom: 10vw;
}

.footer .social_link {
  display: flex;
  font-size: 3.5vw;
  color: #808080;
}

.footer .social_link i {
  margin-right: 2vw;
}

.footer .other_link {
  font-size: 1.1vw;
}

.footer .other_link ul {
  display: flex;
  flex-wrap: wrap;
}

.footer .other_link ul li {
  width: 17vw;
  padding: 1.1vw 0;
}

.footer .other_link ul a {
  text-decoration: none;
  color: #808080;
}

.footer .service_button {
  margin-top: 1.5vw;
}

.footer .service_button a {
  text-decoration: none;
}

.footer .service_button p {
  font-size: 1vw;
  padding: 0.5vw;
  color: #808080;
  width: fit-content;
  border: 1px solid #545454;
}

.footer .copyRight {
  margin-top: 1.7vw;
  font-size: 0.9vw;
  color: #808080;
}

.footer .copyRight div {
  margin-top: 8px;
}

.modalSize {
  max-width: 900px;
  max-height: none;
  width: 850px;
  overflow: hidden;
}

.modalImg {
  width: 100%;
  height: 400px;
}

.modalTitle {
  position: absolute;
  top: 125px;
  left: 0;
  margin-left: 50px;
}

.modalSize .exitBtn {
  color: #141414;
  position: absolute;
  font-size: 40px;
  top: 45px;
  right: 45px;
}

.modalControl {
  display: flex;
}

.modalBtnPlay {
  margin-right: 25px;
}

.modalControl > i {
  margin-right: 18px;
  font-size: 35px;
  color: #ededed;
}

.tiImage {
  width: 340px;
  height: 148px;
}

.modalExplain {
  font-size: 25px;
  color: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.modalExplain .explain1 {
  width: 400px;
}

.explain1 p {
  margin-bottom: 30px;
}

.explain1 p:last-child {
  font-size: 19px;
}

.modalExplain .explain2 {
  font-size: 20px;
  width: 170px;
}

.explain2 p {
  margin-bottom: 15px;
}

.modalSize .dialogList {
  background-color: #141414;
  width: 91%;
  margin: 0 auto;
  border-radius: 5px;
}

.dialogList hr {
  background-color: #5e5e5e;
  height: 1px;
  box-shadow: none;
  border: none;
}

.dialogList .listUpper {
  color: #ededed;
}

.listUpper .secondList {
  text-align: right;
}

.listUpper span {
  font-size: 27px;
}

.countImg {
  width: 200px;
  height: 100px;
  margin-right: 10px;
}

.countText span {
  font-size: 25px;
  color: white;
}

.countTime span {
  font-size: 25px;
  color: white;
  text-align: right;
}

.countIndex {
  width: 2px;
  flex: none;
}

.countIndex {
  display: block;
  font-size: 25px;
  color: white;
  margin-right: 30px;
}

.dialogFooter {
  width: 91%;
  margin: 0 auto;
  padding: 30px 0;
}

.dialogFooter p {
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
}

.dialogFooter p strong {
  margin-right: 10px;
  font-weight: 800;
}

.explain3 p {
  font-size: 20px;
}

.inner .underText {
  font-size: 3vw;
  font-weight: 600;
  margin: 0 5px;
}

.inner .janre {
  margin: 5px 30px;
}

.inner .janre select {
  width: 8vw;
  border: 0.5px solid white;
  color: white;
  background: #000;
  padding: 12px;
  font-size: 1.1vw;
  padding: 3px 7px;
}

.janre_select {
  color: white;
}

@media screen and (max-width: 600px) {
  .control_video p {
    font-size: 10px;
  }

  .play_btn_header {
    font-size: 8px;
  }

  .info_btn_header {
    font-size: 8px;
  }
}
